# Project exclude paths
/.gradle/
/build/
/common/.gradle/
/common/build/
/common/build/classes/java/main/
/fabric/.gradle/
/fabric/build/
/fabric/build/classes/java/main/
/neoforge/.gradle/
/neoforge/build/
/neoforge/build/classes/java/main/
/.idea/
/fabric/run/
/neoforge/run/
/common/run/
/.architectury-transformer/
/neoforge/runDevClient2/
/neoforge/runDevServer/
/RCTModJsonGenerator/
/CobblemonNPCJsonGenerator/
/documents/
